@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/Roboto-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/SourceCodePro-Light.ttf") format("truetype");
}

* {
  font-family: "Roboto";
  outline: transparent;
  user-select: none;
  -webkit-user-drag: none;
}

body {
  @apply text-primary-300 bg-primary-800;
}

canvas {
  image-rendering: pixelated;
}

button {
  @apply px-4 py-2 text-sm text-primary-300 bg-primary-700 rounded;

  &:hover {
    @apply text-white bg-primary-300;
  }
}

h1 {
  @apply mb-4 font-black text-2xl;
}

h2 {
  @apply mb-4 font-bold;
}

img {
  @apply inline-block;
}

input:not([type="checkbox"]),
select {
  @apply h-8 text-primary-900;

  width: 180px;
}

input {
  @apply px-2 py-1 text-sm;
}

select {
  @apply p-1 text-sm;
}

[data-title] {
  @apply relative;
}

[data-title]:hover:after {
  @apply opacity-100 visible;

  transition: all 0.1s ease 0.5s;
}

[data-title]:after {
  @apply absolute top-8 p-1 w-64 text-xs bg-primary-500 rounded shadow-md -translate-x-1/2 opacity-0 invisible z-50;

  content: attr(data-title);
}

::-webkit-scrollbar {
  @apply w-2 h-2 bg-primary-800 rounded;
}

::-webkit-scrollbar-corner {
  @apply bg-primary-800 rounded;
}

::-webkit-scrollbar-track {
  @apply bg-primary-800 rounded;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary-700 rounded;

  &:hover {
    @apply bg-primary-400;
  }
}

.gtc-three-message {
  @apply absolute top-1/2 left-1/2 text-xl font-bold -translate-x-1/2 -translate-y-1/2;
}

.lil-gui {
  --width: 180px;
}

.lil-gui.root {
  @apply absolute top-2 right-2;
}
